* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}

.gamearea {
display: flex;
flex-direction: column;
width: 800px;
border: 5px solid grey;
min-height: 65vh;
min-width: 65vh;
background-color: whitesmoke;
margin: 15px;
}

h1 {
text-align: center;
}

#questionanswers {
display: flex;
flex-direction: column;
margin: 20px;
padding: 5px;
}

